<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
<head th:replace="header :: header" ></head>


<title>GPs</title>
</head>
<body>
	<header th:replace="nav :: nav" ></header>
		<br><br><br>
	<div class="container" >
		<div class="card" >
			<div class="card-header" >
				Liste des gps <a  class="btn btn-primary" th:href="@{formGP}">Ajouter</a>
			</div>
			
			<div class="card-body" >
			
			<form method="get" th:action="@{gps}" >
				<div class="form-group" >
					
					<input type="text" name="keyword" th:value="${keyword}" >
					<button class="btn btn-success" > Chercher </button>
				</div>
			</form>
			
				<table class="table">
			<tr>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Nom d'utilisateur</th>
				<th>Email</th>
				<th>Telephone</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="p:${gps}" th:if="${keyword==''}"  >
				<td th:text="${p.nom}"></td>
				<td th:text="${p.prenom}"></td>
				<td th:text="${p.username}"></td>
				<td th:text="${p.email}"></td>
				<td th:text="${p.tel}"></td>
				<td><a onclick="return confirm('Etes vous sur de vouloir supprimer ?') " 
				class="btn btn-danger" 
				th:href="@{deleteGP(id=${p.id},keyword=${keyword},size=${size},page=${currentPage})}" >
				Delete</a>
				</td>
				<td>
					<a class="btn btn-primary"th:href="@{editGP(id=${p.id})}" >
					Edit</a>
				</td>
				<td>
					<a class="btn btn-success"th:href="@{showGP(id=${p.id})}" >
					Show</a>
				</td>
				
	  </tr>
	  
	  <tr th:each="p:${gpsk}" th:if="${keyword!=''}" >
				<td th:text="${p.nom}"></td>
				<td th:text="${p.prenom}"></td>
				<td th:text="${p.username}"></td>
				<td th:text="${p.email}"></td>
				<td th:text="${p.tel}"></td>
				<td><a onclick="return confirm('Etes vous sur de vouloir supprimer ?') " 
				class="btn btn-danger" 
				th:href="@{deleteGP(id=${p.id},keyword=${keyword},size=${size},page=${currentPage})}" >
				Delete</a>
				</td>
				<td>
					<a class="btn btn-primary"th:href="@{editGP(id=${p.id})}" >
					Edit</a>
				</td>
				<td>
					<a class="btn btn-success"th:href="@{showGP(id=${p.id})}" >
					Show</a>
				</td>
				
	  </tr>
		</table>
			</div>	
			<ul class="nav nav-pills">
				<li  th:each="page,status:${pages}" th:if="${keyword==''}" >
					<a th:class="${status.index==currentPage?'btn btn-primary':'btn'}" 
					th:href="@{gps(page=${status.index},keyword=${keyword},size=${size})}" 
					th:text="${status.index}" ></a>
				</li>
				<li  th:each="page,status:${pagesk}" th:if="${keyword!=''}" >
					<a th:class="${status.index==currentPage?'btn btn-primary':'btn'}" 
					th:href="@{gpsk(page=${status.index},keyword=${keyword},size=${size})}" 
					th:text="${status.index}" ></a>
				</li>
			</ul>	
		</div>
	</div>
	<div th:insert="footer :: footer" ></div>
<div th:replace="script :: script" ></div>
</body>
</html>