<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
<title>Scanners</title>
<head th:replace="header :: header" ></head>

</head>
<body>
<header th:replace="nav :: nav" ></header>
		<br><br><br>
	<div class="container" >
		<div class="card" >
			<div class="card-header" >
				Liste des scanners <a class="btn btn-primary" th:href="@{formScanner}">Ajouter</a>
			</div>
			
			<div class="card-body" >
			
			<form method="get" th:action="@{scanners}" >
				<div class="form-group" >
					<input type="text" name="keyword" th:value="${keyword}" >
					<button class="btn btn-success" > Chercher </button>
				</div>
			</form>
			
				<table class="table">
			<tr>
				<th>Nom </th>
				<th>Description </th>
				<th>Patient </th>
				<th>Date </th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="p:${scanners}" >
				<td th:text="${p.nom}" ></td>
				<td th:text="${p.des}" ></td>
				<td th:text="${p.patient}" ></td>				
				<td th:text="${p.date}" ></td>
				
				<td><a onclick="return confirm('Etes vous sur de vouloir supprimer ?') " 
				class="btn btn-danger" 
				th:href="@{deleteScanner(id=${p.id},keyword=${keyword},size=${size},page=${currentPage})}" >
				Delete</a>
				</td>
				<td><a class="btn btn-primary" 
				th:href="@{editScanner(id=${p.id})}" >
				Edit</a>
				</td>

			</tr>
		</table>
			</div>	
			<ul class="nav nav-pills">
				<li  th:each="page,status:${pages}" >
					<a th:class="${status.index==currentPage?'btn btn-primary':'btn'}" 
					th:href="@{scanners(page=${status.index},keyword=${keyword},size=${size})}" 
					th:text="${status.index}" ></a>
				</li>
			</ul>	
		</div>
	</div>
<div th:insert="footer :: footer" ></div>
<div th:replace="script :: script" ></div>
</body>
</html>