<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<head th:replace="header :: header" ></head>

<title>Afficher Patient</title>
</head>
<body>
<header th:replace="nav :: nav" ></header>
		<div class="container" style="padding-left:200px;">
			<br>
			<br>
			<br>
			<div class="col-md-9">
				<div class="card" style="text-align: center;">

					<div style="color:white; text-align: center; background: linear-gradient(to right, #1341A5, #1341A5);" class="card-header">
						Affichage d'un patient
					</div>
					<div class="card-body">
							
							<div class="form-group">
								<label class="control-label">Nom : </label> 
								<label class="form-control" th:text="${patient.nom}"></label>
							</div>
							<div class="form-group">
								<label class="control-label">Prenom : </label>
								<label class="form-control" th:text="${patient.prenom}"></label>
							</div>
							

							<div class="form-group">
								<label class="control-label">Genre : </label> 
								<label class="form-control" th:text="${patient.genre}"></label>
								
							</div>
							<div class="form-group">
								<label class="control-label">Age: </label>
								<label class="form-control" th:text="${patient.age}"></label>
							</div>
							<div class="form-group">
								<label class="control-label">Email : </label>
								<label class="form-control" th:text="${patient.email}"></label>
							</div>
							<div class="form-group">
								<label class="control-label">CIN : </label> 
								<label class="form-control" th:text="${patient.cin}"></label>
							</div>
							<div class="form-group">
								<label class="control-label">Telephone : </label> 
								<label class="form-control" th:text="${patient.tel}"></label>
							</div>
							
							<div class="form-group">
							<label for="address">Adresse</label>
								<div class="form-floating">
								  <textarea class="form-control" disabled th:text="${patient.address}">
								  </textarea>
								  
								</div>
							</div>
							
							<div class="form-group">
							<label for="address">Maladie</label>
								<div class="form-floating">
								  <textarea class="form-control" disabled th:text="${patient.maladie}">
								  </textarea>
								  
								</div>
							</div>

							<div class="form-group">
								<label class="control-label">Medecin : </label> 
								<label class="form-control" th:text="${medecin.nom}+' '+${medecin.prenom}"></label>
							</div>
							
							<div class="form-group">
								<label class="control-label">Date d'ajout :</label> 
								<label class="form-control" th:text="${patient.date_ajout}"></label>
							</div>
							
					</div>
				</div>
			</div>
</div>
		<div th:insert="footer :: footer" ></div>
<div th:replace="script :: script" ></div>
		
</body>

</html>